h2,
h3 {
  margin: 0;
}

button {
  background: linear-gradient(
    97.32deg,
    #bce1f7 0%,
    rgba(109, 189, 234, 0.94) 100%
  );
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 12px 8px;
  gap: 8px;
  cursor: pointer;
}

.hero-container {
  display: flex;
  margin: 0px 200px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hero-image{
  width: 50%;
}

.hero-image-self {
width: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 45vh;
}

.hero-title {
  align-self: flex-start;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  color: #1f3e6c;
  margin-bottom: 20px;
}

.title-text {
  text-align: left;
  align-self: flex-start;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #1f3e6c;
}

.hero-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.button-enter {
  width: 30%;
}

.button-login {
  width: 50%;
}

.enter {
  padding: 12px 8px;
  gap: 8px;
  width: 120px;
  height: 43px;
  left: 268px;
  top: 497px;
}

.register {
  padding: 12px 8px;
  gap: 8px;
  width: 170px;
  height: 43px;
  left: 438px;
  top: 497px;
}
