h2,
h3 {
  margin: 0;
}

button {
  background: linear-gradient(
    97.32deg,
    #bce1f7 0%,
    rgba(109, 189, 234, 0.94) 100%
  );
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 12px 8px;
  gap: 8px;
  cursor: pointer;
}

.hero-container {
  display: flex;
  margin: 0px 200px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hero-image{
  width: 50%;
}

.hero-image-self {
width: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 45vh;
}

.hero-title {
  align-self: flex-start;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  color: #1f3e6c;
  margin-bottom: 20px;
}

.title-text {
  text-align: left;
  align-self: flex-start;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #1f3e6c;
}

.hero-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.button-enter {
  width: 30%;
}

.button-login {
  width: 50%;
}

.enter {
  padding: 12px 8px;
  gap: 8px;
  width: 120px;
  height: 43px;
  left: 268px;
  top: 497px;
}

.register {
  padding: 12px 8px;
  gap: 8px;
  width: 170px;
  height: 43px;
  left: 438px;
  top: 497px;
}

.ant-modal-content {
  width: 450px!important;
  height: 444px!important;
background: #F1F2F4!important;
border-radius: 16px!important;
}

.ant-modal-header {
background: #F1F2F4!important;
border-radius: 16px!important;
border: none!important;
}

.ant-input, .ant-input-affix-wrapper {
  background: #F1F2F4!important;
  border: 1.5px solid #1F3E6C!important;
border-radius: 6px!important;

}

.ant-modal-title {
  font-style: normal!important;
font-weight: 400!important;
font-size: 32px!important;
line-height: 39px!important;
color: #1F3E6C!important;
}

.ant-btn-primary {
  width: 100%;
height: 44px!important;
background: linear-gradient(97.32deg, #BCE1F7 0%, rgba(109, 189, 234, 0.94) 100%)!important;
border-radius: 8px!important;
border: none !important;
font-weight: 400!important;
font-size: 20px!important;
line-height: 24px!important;
color: #1F3E6C!important;
}

.ant-btn-default {
  margin-top: 15px;
width: 100%;
height: 44px!important;
background: #F1F2F4!important;
border-radius: 8px!important;
font-weight: 400!important;
font-size: 20px!important;
line-height: 24px!important;
color: #1F3E6C!important;
}
