@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");
.wishlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 100px;
  justify-content: center;
  gap: 80px 20px;
}
.wishlist-card {
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 5px 5px 15px 5px rgba(31, 62, 108, 0.25);
}
.wishlist-product {
  width: 284px;
  height: 380px;
  object-fit: contain;
}
.wishlist-rus {
  height: 38px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.065em;
  color: #1f3e6c;
  padding-bottom: 33px;
  border-bottom: 2px solid rgba(95, 92, 237, 0.407826);
}
