a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #1f3e6c;
}

input {
  background: none;
  outline: none;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1f3e6c;
}

.icon-wrapper {
  padding-left: 20px;
}

.btn {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(19, 30, 88);
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 5px 5px 15px 5px #000000; */
  margin-top: 50px;
  /* margin-right: 1150px; */
}

.header-component {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 205px;

}
.header-container {
  height: 20vh;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.logo-container {
  width: 10%;
  justify-content: space-between;
}

.menu-container {
  justify-content: space-between;
  width: 30%;
}

.search-icons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 32%;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.logo-container,
.menu-container,
.search-icons-wrapper {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  background: linear-gradient(
    97.32deg,
    #bce1f7 0%,
    rgba(109, 189, 234, 0.94) 100%
  );
  border: 2px solid #f6f1ec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 263.71px;
  height: 48px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
